[v-cloak] > * {
	display: none;
}

[v-cloak]::before {
	content: "loading...";
}


.infoItem {
	border-bottom: 2px solid lightgray;
}

.emailIcon {
	font-size: 1.2em;
}

.card{
	border-top: 0 !important;
}

.genderClass {
	font-size: 2.5em;
	color: #FFFFFF;
	position: absolute;
	top: 53.5%;
	left: 0%;
	padding-top: 2px;
	padding-bottom: 2px;
	opacity: 0.6;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
}

.countryIcon {
	font-size: 1.2em;
}


.username {
	font-size: 1.5em;
	color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
	opacity: 0.6;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
}

